// Here you can add other styles

a {
  color: #004e76;
}
a:hover {
  color: #0083b8;
}
.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background: #3d5afe;
}
.bg-logo {
  background: #ececec;
}
.form-control {
  height: calc(2.2em + 0.75rem + 2px) !important;
}
.removing-padding {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.remove-padding {
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.search-box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.table th,
.table td {
  padding: 0.35rem;
  font-size: 13px;
}
.c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-link,
.c-sidebar.c-sidebar-minimized
  .c-sidebar-nav-item:hover
  > .c-sidebar-nav-dropdown-toggle {
  background: #101010 !important;
}
// .nav-tabs .nav-link.active,
// .nav-tabs .nav-item.show .nav-link {
//   color: white;
//   background-color: #017aad;
//   border-color: #c4c9d0 #c4c9d0 #ebedef;
// }
.MuiButton-containedPrimary {
  background-color: #00DB79 !important;
}
.form-padding {
  padding-top: 10px;
  padding-bottom: 10px
}
.MuiButton-containedSecondary {
  background-color: #dc3545!important
}
.test-img{
  width: 40%;
}

.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
  color: #00DB79 !important
}

.c-sidebar {
  background: #010101 !important
}

.c-sidebar .c-sidebar-brand {
  background: black !important;

}
th {
  color: black;
  font-weight: 800;
}

td {
  color: #101010;
}
.c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-dropdown-toggle {
  font-weight: 800;
}
.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  background: #212121;
  color: white;
}
.card {
  // background-color: black !important;
}
.card-header {
  background-color: black !important;
  color: white;
  font-size: 25px;
  font-weight: 800
}